.currency
{
    position: relative;
    top: 0;
    left: 0;
    float: left;

    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    text-align: center;
}

.buildings
{
    position: relative;
    top: 0;
    right: 0;
    float: right;

    width: 50%;
    height: 100%;

    align-content: center;
}

table, th, td
{
    border: solid 1px white;
    border-collapse: collapse;

    min-width: 150px;
}

th, td
{
    text-align: center;
    padding: 2px;
}